body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #fbfbfb ;
    border-radius: 8px;
    box-shadow: 0 3px 7px black;
}

.select-wrapper {
    margin-bottom: 20px;
}

select {
    padding: 10px; 
    border-radius: 20px;
    border: 2px solid #ccc;
    background-color: #fff;
    color: #black;
    font-size: 1em; 
    transition: border-color 0.5s ease;
}
h1 {
    font-size: 2em;
    text-align: center;
}

.chart-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

canvas {
    max-width: 50%; 
}

button:hover {
    background-color: #black;
}

.footer {
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
    font-size: 14px; 
    color: #333; 
    text-align: right; 
    background-color: #fbfbfb; 
    padding: 10px; 
    border-radius: 8px; 
    box-shadow: 0 3px 7px black;
}